In [102]:
import pandas as pd
import numpy as np

### Lab

### Load your database here recruit!

In [103]:
df= pd.read_csv('./../../assets/marvel.csv')

df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0

### Here are our findings from extensive research and hero fighting. Run this field once. It will set up all of your data for you. Feel free to add additional weaknesses and affinities if you feel like it!

In [104]:
def randomly(length):
    return np.random.randint(0, length, size = 1)[0]

def pull_unique(length, arr):
    this_rand = randomly(length)
    while this_rand in arr:
        this_rand = randomly(length)
    return this_rand


value_length = len(df) + len(df) / 20

#the hero's weakness
weaknesses = ["ponies","butterflies","apple pie","spiders",
              "giant robots","fireballs","tv static","gerbils",
              "lactose","Walmart","boomerangs","kangaroos","true love", "Shaq"]

#the hero's favorite hobby
affinities = ["balloons","rubber ducks","plasma laser guns","ghosts",
              "clouds","bouncy balls","milkshakes","storms",
              "preschools","Panda Express","shag rugs","bubble gum","Kanye West"]

super_weaknesses = [weaknesses[randomly(len(weaknesses))] for x in range(value_length)]
affinities = [affinities[randomly(len(affinities))] for x in range(value_length)]
killability = [randomly(10) + 1 for x in range(value_length)]
more_ids = list(df['page_id'])

for x in range(value_length - len(df)):
    unique = [pull_unique(100000,more_ids)]
    more_ids += unique
    
raw_data = {
        'page_id' : more_ids,
        'Weaknesses': super_weaknesses,
        'Affinities': affinities,
        'Killability': killability}

### Create a new dataframe with your raw data

In [105]:
marvel = pd.DataFrame(raw_data)
print marvel.head()

      Affinities  Killability Weaknesses  page_id
0  Panda Express            2  kangaroos     1678
1       balloons            8    lactose     7139
2     Kanye West            5    spiders    64786
3      shag rugs            2  apple pie     1868
4   bouncy balls            9    lactose     2460

### What print out the ids in your data that don't match the ids in marvel.csv

In [106]:
outer = pd.merge(df, marvel, how = 'outer', on = 'page_id')

print outer.ix[outer.name.isnull() == True]['page_id']

16376     9172.0
16377    89606.0
16378    77548.0
16379    65295.0
16380    74934.0
16381    11861.0
16382    74389.0
16383    99430.0
16384    81914.0
16385    89347.0
16386     2903.0
16387    24539.0
16388    86500.0
16389    62936.0
16390    29260.0
16391    94091.0
16392    23289.0
16393    66477.0
16394    93798.0
16395    24925.0
16396     8038.0
16397    30581.0
16398     7176.0
16399    60145.0
16400    80822.0
16401    30591.0
16402    98914.0
16403    67691.0
16404    91724.0
16405    96443.0
          ...
17164    83426.0
17165    93878.0
17166    92851.0
17167    39272.0
17168    70217.0
17169    12575.0
17170    29625.0
17171    87350.0
17172    82959.0
17173    41476.0
17174    64274.0
17175    39279.0
17176    11986.0
17177    57311.0
17178    22240.0
17179    43486.0
17180    56656.0
17181    41497.0
17182    24594.0
17183    28583.0
17184     5787.0
17185    67465.0
17186    25914.0
17187    15811.0
17188    34183.0
17189    89913.0
17190    19633.0
17191    78881.0
17192    55190.0
17193     8240.0
Name: page_id, dtype: float64

### Perform an inner join with your dataframes. This should automatically throw out the values that don't map to each other

In [107]:
inner = pd.merge(df, marvel, how = 'inner', on = 'page_id')
inner.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year,Affinities,Killability,Weaknesses
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0,Panda Express,2,kangaroos
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0,balloons,8,lactose
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0,Kanye West,5,spiders
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0,shag rugs,2,apple pie
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0,bouncy balls,9,lactose

### The Brain ([Leader of the League/Brotherhood of Evil](https://en.wikipedia.org/wiki/Brain_(comics))) has asked you to evaluate your data. Since funds are short, the league wants to know which Good Aligned hero weakness is most beneficial to invest in. Make sure the heros are still alive. No use investing in problems we don't have.

In [108]:
#Alive & Good & Most Common Weakness

weak_enemys = inner[(inner.ALIVE == 'Living Characters') & (inner.ALIGN == 'Good Characters')]['Weaknesses']
print weak_enemys.value_counts()[0:1:1]
print "\n"
print weak_enemys

ponies    308
Name: Weaknesses, dtype: int64


0           kangaroos
1             lactose
3           apple pie
4             lactose
5                Shaq
6             lactose
7           true love
9           true love
10            spiders
11        butterflies
13            spiders
14       giant robots
15       giant robots
16       giant robots
17            spiders
19               Shaq
20          kangaroos
22               Shaq
23             ponies
24          tv static
26             ponies
28          tv static
29            Walmart
30            gerbils
31            lactose
32          true love
33          apple pie
34         boomerangs
37         boomerangs
38          apple pie
             ...
16299          ponies
16301       kangaroos
16302      boomerangs
16303            Shaq
16304      boomerangs
16308         Walmart
16310          ponies
16313         Walmart
16315       kangaroos
16316       tv static
16318         spiders
16324         gerbils
16325       fireballs
16326         lactose
16327         lactose
16328         Walmart
16330       tv static
16334            Shaq
16335       fireballs
16338          ponies
16341         lactose
16342       kangaroos
16343     butterflies
16345         spiders
16349       apple pie
16360            Shaq
16363     butterflies
16367          ponies
16369            Shaq
16372       tv static
Name: Weaknesses, dtype: object

### Phobia ([League/Brotherhood of Evil Platinum Member](https://en.wikipedia.org/wiki/Phobia_(comics)) is more interested in the affinities of the Good Aligned heros with their identities exposed. Which affinity would you recommend the guild invest in?

In [109]:
affinity_enemys = inner[(inner.ID == 'Public Identity') & (inner.ALIGN == 'Good Characters')]['Affinities']
print affinity_enemys.value_counts()[0:1:1]
print "\n"

shag rugs    142
Name: Affinities, dtype: int64

### Madame Rouge ([League/Brotherhood of Evil House Mom](https://en.wikipedia.org/wiki/Madame_Rouge)) is concerned about the killability of our heros based on their alignment. Let's create a table for her, comparing our hero's alignments with their killability.

In [110]:
pd.pivot_table(inner,index=["ALIGN"],values=["Killability"],aggfunc=np.sum,margins=True)

                    Killability
ALIGN
Bad Characters          36921.0
Good Characters         25522.0
Neutral Characters      12025.0
All                     74468.0

### Madame Rouge ([League/Brotherhood of Evil House Mom](https://en.wikipedia.org/wiki/Madame_Rouge)) is also concerned about the affinity of our heros based on their alignment. Let's create a table for her, comparing our hero's alignments with their affinities.

In [111]:

pd.pivot_table(inner,index=["ALIGN"], columns = ['Affinities'], values=["page_id"],aggfunc='count',margins=True)

# df2.pivot_table(values='X', rows='Y', cols='Z', 
#                          aggfunc=lambda x: len(x.unique()))

                      page_id                                                 \
Affinities         Kanye West Panda Express balloons bouncy balls bubble gum
ALIGN
Bad Characters          513.0         537.0    528.0        554.0      517.0
Good Characters         362.0         369.0    366.0        359.0      321.0
Neutral Characters      155.0         159.0    170.0        168.0      190.0
All                    1030.0        1065.0   1064.0       1081.0     1028.0

                                                                            \
Affinities          clouds  ghosts milkshakes plasma laser guns preschools
ALIGN
Bad Characters       511.0   527.0      497.0             544.0      498.0
Good Characters      346.0   334.0      369.0             343.0      341.0
Neutral Characters   172.0   143.0      180.0             181.0      168.0
All                 1029.0  1004.0     1046.0            1068.0     1007.0


Affinities         rubber ducks shag rugs  storms      All
ALIGN
Bad Characters            517.0     494.0   483.0   6720.0
Good Characters           399.0     360.0   367.0   4636.0
Neutral Characters        172.0     176.0   174.0   2208.0
All                      1088.0    1030.0  1024.0  13564.0

### General Immortus ([League/Brotherhood of Founding Member](https://en.wikipedia.org/wiki/General_Immortus)) took a look at your data and is concerned. Shouldn't we be adding all of our new data to our database? Let's merge all of our columns without regard to if they align or not.

In [112]:
outer = pd.merge(df, marvel, how = 'outer', on = 'page_id')
outer.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year,Affinities,Killability,Weaknesses
0,1678.0,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0,Panda Express,2,kangaroos
1,7139.0,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0,balloons,8,lactose
2,64786.0,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0,Kanye West,5,spiders
3,1868.0,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0,shag rugs,2,apple pie
4,2460.0,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0,bouncy balls,9,lactose

### The General wants us to assume that all the heros in this new table without entries are deceased and good aligned. Let's update the table with our new data

In [113]:
outer.ALIGN.fillna("Good Characters", inplace = True)
print outer[outer.ALIGN.isnull()][["name","ALIGN"]]
outer.ALIVE.fillna("Deceased Characters", inplace = True)
print outer[outer.ALIVE.isnull()][["name","ALIVE"]]
outer.loc[outer.ALIVE == 'GDeceased Characters','ALIVE'] = 'Deceased Characters'#I had to do this because of typo

Empty DataFrame
Columns: [name, ALIGN]
Index: []
Empty DataFrame
Columns: [name, ALIVE]
Index: []

### The General wants us to update our dates of first appearances so that we can more easily work with the data. Add a new column with the updated datetime field called "Character Created". If the date is blank, use 0 as the value (we will need to filter out these values during our analysis).

In [114]:
from datetime import date
from datetime import timedelta


outer['Year'] = outer['Year'].fillna(0)
outer['Year'] = outer['Year'].astype(int)

outer['Character_Created'] = pd.to_datetime(outer['FIRST APPEARANCE'].str[:3] + '-' + outer['Year'][0:-1].map(str), format="%b-%Y")

outer.sort_values('Character_Created', axis=0, ascending=True, inplace=True, kind='quicksort', na_position='last')

outer.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year,Affinities,Killability,Weaknesses,Character_Created
10491,642582.0,Mike Malone (Earth-616),\/Mike_Malone_(Earth-616),No Dual Identity,Bad Characters,NaN,Bald,Male Characters,NaN,Deceased Characters,1.0,Oct-39,1939,preschools,3,tv static,1939-10-01
8402,331150.0,Quog (Earth-616),\/Quog_(Earth-616),No Dual Identity,Neutral Characters,NaN,NaN,NaN,NaN,Living Characters,2.0,Oct-39,1939,Kanye West,2,fireballs,1939-10-01
2550,331152.0,Trajah (Earth-616),\/Trajah_(Earth-616),No Dual Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,13.0,Oct-39,1939,bouncy balls,7,Walmart,1939-10-01
10483,642914.0,John Crafton (Earth-616),\/John_Crafton_(Earth-616),No Dual Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Deceased Characters,1.0,Oct-39,1939,Panda Express,3,spiders,1939-10-01
10484,642807.0,John Dillon (Earth-616),\/John_Dillon_(Earth-616),No Dual Identity,Bad Characters,NaN,NaN,Male Characters,NaN,Deceased Characters,1.0,Oct-39,1939,bubble gum,1,kangaroos,1939-10-01

### Who was the first superhero to appear in our table?

In [144]:
outer[outer.Character_Created == min(outer.Character_Created)][0:].sort_index

print("Mike Malone (Earth-616)")

Mike Malone (Earth-616)

### Who was the lastest superhero to appear in our table?

In [146]:
outer[outer.Character_Created == max(outer.Character_Created)][0:].sort_index
print(" Death (11th Century) (Earth-616)")

 Death (11th Century) (Earth-616)

### What was the date difference between their appearances?

In [150]:
print max(outer.Character_Created) - min(outer.Character_Created)

26907 days 00:00:00